<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

  <title> Pagina Principal </title>
</head>

<body>

  <div class="Titulo">
    <h1 class="text-center mt-5">Edici칩n de credenciales</h1>
    <h2 class="text-center">Aqui puedes cambiar tus datos de inicio de sesi칩n</h2>

  </div>

  <div class="formulario d-block mx-auto mt-5 " style="max-width: 500px;">
    <form action="/edit" method="POST">
      <div class="mb-3">
      <label for="email" class="form-label">Correo electronico</label>
      <input type="email"  class="form-control" name="email" id="email" placeholder="Nuevo Email">      
    </div>
     <div class="mb-3">
      <label for="password" class="form-label">Contrase침a</label>
      <input type="password"  class="form-control" name="password" id="password" placeholder="Nueva Contrase침a">      
    </div>
      
     <button type="submit" class="btn btn-primary">Cambiar datos</button>
    </form>
  </div>

</body>

</html>